# Семинар 2

## Контест 

### U. Симметричное число*

Дано четырехзначное число. Определите, является ли его десятичная запись симметричной. Если число симметричное, то выведите 1, иначе выведите любое другое целое число. Число может иметь меньше четырех знаков, тогда нужно считать, что его десятичная запись дополняется слева незначащими нулями.

In [1]:
x = int(input())
x

2002

2002

In [2]:
d = x % 10
c = x // 10 % 10
b = x // 100 % 10
a = x // 1000

In [3]:
res = (a == d) and (c == b)
res

True

In [4]:
int(res)

1

## Логический тип данных (bool)

In [5]:
b = 5 > 4
b

True

In [6]:
type(b)

bool

In [7]:
5 >= 4 # 5 > 4 or 5 == 5

True

In [50]:
age = 17
age >= 18 or age < 40

True

In [49]:
age = 17
age >= 18 and age < 40

False

## Условия/ветвление

In [11]:
age = -1

if age >= 18 and age < 40:
    print("Можно продать!")
elif age > 40:
    print("Тебе уже поздно :-(")
elif age > 16:
    print("Нет, пока рано")
elif age > 0:
    print("Совсем рано")
else:
    print("Неправильный ввод")

Неправильный ввод

## Списки (list)

In [12]:
ages = [31, 24, 12, 90, "слишком стар"]
ages

[31, 24, 12, 90, 'слишком стар']

In [13]:
type(ages)

list

In [18]:
ages[1] = 125
ages

[31, 125, 12, 90, 'слишком стар']

In [19]:
ages[-1] = 30
ages

[31, 125, 12, 90, 30]

In [20]:
ages.append(19)
ages

[31, 125, 12, 90, 30, 19]

In [21]:
ages_group2 = [64, 32, 85]
ages_full = ages + ages_group2 + [13, 51]
ages_full

[31, 125, 12, 90, 30, 19, 64, 32, 85, 13, 51]

In [22]:
ages[:-1:3]

[31, 90]

## Оператор = в питоне

### Неизменяемые типы данных (int, float, str)

In [23]:
a = 1
b = a
b = 2
a, b

(1, 2)

### Изменяемые типы данных (list)

In [26]:
a = [1, 1]
b = a
b[0] = 2
a, b

([2, 1], [2, 1])

Первый список тоже изменился!!!

Чтобы такого не было - используем `copy()`:

In [29]:
a = [1, 1]
b = a.copy()
b[0] = 2
a, b

([1, 1], [2, 1])

## Циклы

In [33]:
count = 0
for age in ages:
    count = count + 1
    print("Итерация:", "age:", age, ", count:", count)
print("Число элементов:", count)

Итерация: age: 31 , count: 1
Итерация: age: 125 , count: 2
Итерация: age: 12 , count: 3
Итерация: age: 90 , count: 4
Итерация: age: 30 , count: 5
Итерация: age: 19 , count: 6
Число элементов: 6

### Диапазон значений (range)

In [34]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

`range` - не список, а генератор (он не хранит весь диапазон, а только следующее значение)

In [37]:
type(range(10))

range

Но его можно привести к списку:

In [39]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Как можно считать list из строки ввода

In [51]:
arr = list(map(int, input().split(" ")))
arr

4 2 3 1

[4, 2, 3, 1]

### Подробнее

Получаем введённую строку:

In [45]:
s_input = input()

4 2 3 1

Разбиваем её по пробелам - получаем список:

In [46]:
s_input.split(" ")

['4', '2', '3', '1']

Приводим каждый элемент списка к целому типу (сейчас это строки).

Подробнее про функцию map: https://pyneng.readthedocs.io/ru/latest/book/10_useful_functions/map.html

In [47]:
map(int, s_input.split(" "))

`map` тоже генератор (как и `range`) - приводим к списку:

In [48]:
list(map(int, s_input.split(" ")))

[4, 2, 3, 1]

# Контесты

https://github.com/hse-econ-data-science/dap_2024/tree/main/sem02_loops